@using ToolBox_MVC.Areas.LicenseManager.Models.DBModels
@using ToolBox_MVC.Services.ActiveDirectory
@using ToolBox_MVC.Services.DB
@inject IMfilesServerRepository serverRepo;
@inject IADCredRepository adRepo;
@inject IGroupRepository groupRepository;

@model MFilesServer;

@{
    ViewData["Title"] = "Configuration M-Files";
    var adCred = adRepo.GetADCredential(Model.ADCredentialId);
}

<div class="d-inline-flex gap-3 flex-grow-0">
    <h1 class="align-middle">Configuration - Environnement : </h1>
    <form id="changeServer" asp-area="LicenseManager" asp-controller="Configuration" asp-action="Index" asp-route-serverName="" method="get">
        <a class="dropdown-toggle text-dark text-decoration-none clickable-text title" data-bs-toggle="dropdown" href="#">@Model.Name</a>
        <ul class="dropdown-menu">
            @{
                foreach (var server in serverRepo.GetServers())
                {
                    <li><a class="dropdown-item text-dark" asp-controller="Configuration" asp-action="Index" asp-route-serverName="@server.Name">@server.Name</a></li>
                }
            }
        </ul>
    </form>
</div>
<div class="config-grid">
    <div class="config-grid-item">
        @*Container for server infos*@
        <div class="g-header">
            <h2>Infos de connexion au serveur M-Files</h2>
        </div>
        <div class="g-body">
            <div class="listView">
                <div class="list-item">
                    <div class="item-label">
                        Serveur 
                    </div>
                    <div class="item-value">
                        @Model.Name
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-label">
                        Adresse
                    </div>
                    <div class="item-value">
                        @Model.NetworkAddress
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-label">
                        Protocole
                    </div>
                    <div class="item-value">
                        @Model.ProtocolSequence
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-label">
                        Endpoint
                    </div>
                    <div class="item-value">
                        @Model.EndPoint
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-label">
                        GUID du Coffre
                    </div>
                    <div class="item-value">
                        @Model.VaultGuid
                    </div>
                </div>
            </div>
        </div>
        <div class="g-footer justify-content-end">
            <button class="btn btn-primary">Modifier</button>
            <button class="btn btn-secondary">Changer identifiant</button>
        </div>
    </div>
    <div class="config-grid-item double-row">
        @*Container for M-Files groups list*@
        <div class="g-header">
            <h2>LicenseManager - Groupes M-Files</h2>
        </div>
        <div class="g-body">
        <div class="tableView area-wrapper">
            <div class="table-header">
                <div class="table-cell check">
                        <input type="checkbox" id="account-select-all" onclick="checkAllAccountCheckBoxes()" />
                </div>
                <div class="table-cell">
                    Nom
                </div>
                <div class="table-cell maintained">
                    État
                </div>
            </div>
            @{
                var groupList = (await groupRepository.GetGroupsAsync(Model.Id)).OrderByDescending(g => g.Maintained);
                var lastMaintained = true;
                foreach (var group in groupList)
                {
                    if (lastMaintained && !group.Maintained)
                    {
                        <div class="table-group-seperator"></div>
                    }
                    lastMaintained = group.Maintained;
                    <div class="table-row">
                        <div class="table-cell check">
                                <input type="checkbox" class="account-check" name="@group.Name" value="true" onclick="updateViewSelectAll()" />
                        </div>
                        <div class="table-cell">
                            @group.Name
                        </div>
                        <div class="table-cell maintained">
                            @{
                                if (group.Maintained)
                                {
                                    <button class="status active no-border clickable" @*Mettre asp lien vers action*@>
                                        Garder licences
                                    </button>
                                }
                                else
                                {
                                    <button class="status disabled no-border clickable">
                                        Retirer licences
                                    </button>
                                }
                            }
                        </div>
                    </div>

                }
            }
                <div class="table-footer">
                    <div class="table-cell counter">
                        Nombre de comptes sélectionnés :<span class="selectionNumber">0</span>
                    </div>
                    <div class="table-cell buttons">
                        <button disabled id="maintainSelection" class="selectionButton btn btn-primary">Garder les licences</button>
                        <button disabled id="unmaintainSelection" class="selectionButton btn btn-secondary">Retirer les licences</button>
                    </div>
                </div>
        </div>
        </div>
    </div>
    <div class="config-grid-item">
        <div class="g-header">
            <h2>Infos de connexion à l'Active Directory</h2>
        </div>
        @*Container for AD infos*@
        <div class="g-body">
            <div class="listView">
                <div class="list-item">
                    <div class="item-label">
                        Domain
                    </div>
                    <div class="item-value">
                        @adCred.Domain
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-label">
                        Container
                    </div>
                    <div class="item-value">
                        @adCred.Container
                    </div>
                </div>
            </div>
        </div>
        <div class="g-footer justify-content-end">
            <button class="btn btn-primary">Modifier</button>
            <button class="btn btn-secondary">Changer identifiant</button>
        </div>
    </div>
    
    <form method="post" asp-area="LicenseManager" asp-controller="Configuration" asp-action="ChangeAutoParameters" class="config-grid-item">
        <div class="g-header">
            <h2>Automatisation et synchronisation</h2>
        </div>
        @*Container for sync settings*@
        <div class="g-body">
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <div class="listView area-wrapper">
                <div class="list-item">
                    <div class="item-label">
                        Heure de synchronisation
                    </div>
                    <div class="item-value">
                        <input type="time" asp-for="SyncTime" value="@Model.SyncTime" />
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-label">
                        LM - Retrait automatique
                    </div>
                    <div class="item-value">
                        <input type="checkbox" @*mettre asp-for="AutoRemove"*@/>
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-label">
                        LM - Restauration automatique
                    </div>
                    <div class="item-value">
                        <input type="checkbox" @*mettre asp-for="AutoRestore"*@ />
                    </div>
                </div>
            </div>
        </div>
        <div class="g-footer justify-content-end">
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
    </form>
</div>
