@using ToolBox_MVC.Services
@using ToolBox_MVC.Services.DB
@using ToolBox_MVC.Services.Repository
@inject IMfilesServerRepository serverRepository

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    if (string.IsNullOrEmpty(ViewBag.ServerName))
    {
        ViewBag.ServerName = serverRepository.GetServerInfos(1).Name;
    }
}
<aside class="sidebar">
    <div class="sidebar-header">
        <a class="fw-bold" asp-area="LicenseManager" asp-controller="Home" asp-action="Index">Gestion M-Files</a>
    </div>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a asp-area="LicenseManager" asp-controller="Home" asp-action="Details" asp-route-serverName="@ViewBag.ServerName">Dashboard</a>
        </li>
        <li class="sidebar-list-item">
            <a asp-area="LicenseManager" asp-controller="Removal" asp-action="Index" asp-route-serverName="@ViewBag.ServerName">Retrait</a>
        </li>
        <li class="sidebar-list-item">
            <a asp-area="LicenseManager" asp-controller="Restoration" asp-action="Index" asp-route-serverName="@ViewBag.ServerName">Restauration</a>
        </li>  
        <li class="sidebar-list-item">
            <a asp-area="LicenseManager" asp-controller="Configuration" asp-action="Index" asp-route-serverName="@ViewBag.ServerName">Configuration</a>
        </li>
    </ul>

</aside>
<main class="content">
    @RenderBody()
</main>
