@using ToolBox_MVC.Services
@model ToolBox_MVC.Models.TaskHistory
@{
    ViewData["Title"] = ViewData["Server"] + " - Historique des suppressions";
}
<div class="d-inline-flex gap-3">
    <h1>Historique des suppressions effectuées - Environnement : </h1>
    <form id="changeServer" asp-controller="Suppression" asp-action="History" asp-route-id="" method="get">
        <select class="form-select form-select-lg mb-0 fw-bold" id="selectServer" onchange="changeServer()">
            @foreach (ServerType server in Enum.GetValues<ServerType>())
            {
                if (server == (ServerType)ViewData["Server"])
                {
                    <option selected value="@server">@server</option>
                }
                else
                {
                    <option value="@server">@server</option>
                }
            }
        </select>
    </form>
</div>
@{
    foreach (TaskDate date in Model.SuppressionDates)
    {
        <div style="margin-top: 50px;" class="panel panel-default">
            <div class="panel-heading" style="text-align: left;">Tâche du @date.Date</div>
            <div class="panel-body" style="text-align: left;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Licence supprimée</th>
                            <th>Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = date.Accounts.Count - 1; i >= 0; i--)
                            {
                                <tr><td>@date.Accounts[i].UserName</td><td>@date.Accounts[i].TranslateLicenseType()</td><td>@date.Hours[i]</td></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
